.grid{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-top:20px;
padding: 0 40px;
}

.grid__item__image {
    width:100%;
    background-size:cover;
    background-color: #303030;
    opacity: 1;
    transition: all 0.2s ease-in;
}
.grid__item {
    width: 24%;
    text-align: center;
    color:white;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    margin-top:10px;
    margin-bottom: 10px;
}
.grid__item__image:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
}
..grid__item__title {
    margin-top:15px;
}
.grid__item:hover .grid__item__image {
    opacity: 0.2
}
