.grid{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.album{
    width:100%;
    height:500px;
    background-size:cover;
    opacity: 1;
    transition: all 0.2s ease-in;
}
.grid__item{
    width:24%;
    text-align: center;
    color:white;
    font-size: large;
    font-weight: bold;
    text-decoration: none;   
    margin-top:10px;
    margin-bottom: 10px;     
}
.songName{
    margin-top:15px;
}
.grid__item:hover .album{
    opacity: 0.2
}