.main{
    /*flex-grow: 1;*/
    flex: 1;
    background-color:#191919;
    height:100vh;
    overflow-y: auto;

}
.pageTitle{
    color: white;
    margin-top:10px;
    margin-bottom:20px;
    font-size: 3rem;
    margin-top: 40px;
    padding: 0 40px;
}
.search{
    border-radius: 25px;
    border: none;
    padding: 10px;
    height: 40px;
    font-size: 20px;
    width: 300px;
    outline: none !important;
    margin-left: 43px;
}
@media screen and (max-width: 720px) {
    .pageTitle{
        font-size: xx-large;
    }
}
