body{
	margin: 0;
	font-family: helvetica;
	overflow: hidden;
}

h1,h2,h3,h4,h5,h6, p, a{
	font-family: helvetica;
	color: white;
}

* {
	box-sizing: border-box;
}

.container{
	padding: 0;
	display: flex;
	flex-direction: row;
	/*justify-content: flex-start;*/
	/*align-items: flex-start;*/
}
a{
	cursor: pointer;
}
.player{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:40px;
	padding-left:40px;
	flex-direction: row;
	bottom:0;
	width:100%;
	height: 100px;;
	background-color:#252525;
}
.progress-bar{
	width:40%;
	height: 8px;
	justify-self: center;
	background-color:#696969
}
.progress-bar__finished{
	width:0%;
	height: 8px;
	background-color: #008000
}
.song-info{
	display:flex;
}

.song-info__album{
	background-size:cover;
	height:70px;
	width:70px;
	margin-right:10px; 
}
.song-info__titles{
	padding:0;
	display: flex;
	flex-direction: column;
	align-items:flex-start ;
	justify-content: space-between
}
.song-info__titles__title{
	margin:0;
	color:white;
	text-transform: uppercase;
	font-size: medium;
}